*{
    text-align: center;
    font-family: Arial, sans-serif;
}

body{
    background: #f6d5d5;
}

.board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    border-style: double;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.card:hover{
    background-color: black;
}

.matched{
    background-color: green;
    cursor: default;
}

#scoreBoard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 480px;
    margin-right: 480px;
    font-size: 20px;
    font-weight: bold;
}

.board-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: blue;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

.board-container{
    position: relative;
    display: inline-block;
    margin: auto;
}

#winner-display{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: darkgreen;
    opacity: 0;
    transition: opacity 1s ease;
}