*{
    text-align: center;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(120deg, #f6d5d5, #ffd1f7);
}

.board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    position: relative;
    z-index: 1;
}

.card{
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 8px;
}

.card.flipped .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.card-front{
    background: linear-gradient(135deg, #999, #555);
}

.card-back{
    background: white;
    transform: rotateY(180deg);
}

.matched .card-inner{
    animation: pulse 0.7s ease;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.matched{
    box-shadow: 0 0 15px 4px green;
}

#scoreBoard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
}

.active-player{
    color: blue;
    text-decoration: underline;
}

.board-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: blue;
    opacity: 0;
    transition: opacity 0.2 ease;
    pointer-events: none;
    z-index: 10;
}

.board-container{
    position: relative;
    display: inline-block;
    margin: auto;
    z-index: 1;
}

#winner-display{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: darkgreen;
    opacity: 0;
    transition: opacity 0.5s
}

#restart-btn {
    background: #ff6f61;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#restart-btn:hover{
    background: #ff4c40;
}
